.logreg {
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: linear-gradient(79deg,#7439db,#C66FBC 48%,#F7944D);
  }
  
  .author-form-container,.login-form,.register-form {
    display: flex;
    flex-direction:column;
    
  }
  
  label{
    text-align:left;
    padding:0.25rem 0;
  }
  
  input{
    margin: 0.5rem 0;
    padding:1rem;
    border: none;
    border-radius: 10px;
  }
  
  .logbutton{
    border: none;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #7439db !important;
    margin-top: 10px;
  }
  
  .link-btn{
    background: none;
    color: white;
    padding: 20px;
    text-decoration: underline;
  }